/* .App {
  text-align: center;
} */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Kumbh Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navListParent .active{
  border-bottom: 3px solid green;
  padding-top: 3px;
  color: #1B1525 !important;
}
.servicesParent .active{
  color: black !important;
  background-color: white !important;
  height: 50px !important;
  width: 100% !important;
}
.servicesParent .active .arrow-right{
 display: block !important;
}

.services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  padding: 0px 10px;
}

.services:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  height: 50px !important;
  display: flex;
  align-items: center;
  transition: all 500ms ease;
}

.services:hover .arrow-right{
  display: block !important;
}
.arrow-right{
  display: none !important;
}
.innerChild{
  display: none;
}
.parentLink:hover .innerChild{
  display: block !important;
  

}
.exploreLink{
  text-decoration: none;
  color: white;
  font-weight: 700;
  border-bottom: 3px solid #2be4ac;
  padding-bottom: 3px;
  transition: all 500ms ease;
}
.exploreLink:hover{
  color: #2be4ac;
}
.AboutHomeLink{
  text-decoration: none;
  color: #2be4ac;
  font-size: 15px !important;
  font-weight: 700 !important;

}

.navService:hover .hello{
  display: block;
  
}

.border-btm:hover .setBorderBtm{
  color:#1B1525;
  border-bottom: 3px solid green;
   padding-top: 3px
}
.webDevelop:hover .webDev-options{
  display: block;
}


.imageServiceBox:hover .scaleImage{
  transform: scale(1.02) !important;
}
.imageServiceBox{
  transition: all 500ms ease;

}
.imageServiceBox:hover .serviceHeadingText{
  display: none;
}
/* .imageServiceBox:hover .blackWrapper{
  height: 360px;
}
.imageServiceBox:hover .secondBlackWrapper{
  opacity: 0.1;
}
.imageServiceBox:hover .jskl{
  display: block;
} */

.service-card:hover .card-link{
  color:black !important
}

 .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212529;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.9;
} 

.container:hover .overlay {
  height: 100%;
}
.container:hover .overlay-top {
  bottom: 0;
  height: 100%;}

.overlay-top{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: rgba(33,37,41,0.5); */
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  
}

.overlay-heading{
  color: white !important;
  transition: all 800ms ease;
  cursor: pointer;
  width: fit-content !important;
}
.overlay-heading:hover{
  color:#2be4ac !important
}
.link-style{
  text-decoration: none;
}

.getToKnowUsAnimation{
  animation-name: slideInLeft;  
  animation-duration: 2500ms;
  animation-delay: 100ms;
  visibility: visible;
}
@keyframes slideInLeft {
  0%   {transform: translate3d(-100%, 0, 0);visibility: visible;}
  100% {transform: translate3d(0, 0, 0);visibility: visible;}
}

.trustedAnimation{
  animation-name: fadeInUp;
  animation-delay: 300ms;
  visibility: visible;
}
@keyframes fadeInUp {
  0%   {transform: translateY(20px);opacity: 0;}
  100%   {transform: translateY(0px);opacity: 1;}
}

.aboutUsAnimation{
  animation-name: slideInRight;  
  animation-duration: 2500ms;
  animation-delay: 100ms;
  visibility: visible;
  

}
@keyframes slideInRight {
  0%   {transform: translate3d(100%, 0, 0);visibility: visible;}
  100% {transform: translate3d(0, 0, 0);visibility: visible;}
}
.text {
  /* color: white !important; */
  width: 74%;
  /* font-size: 20px; */
  position: absolute; 
  height: 270px;
   top: 50%;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 200px !important; */
  
}


.Learn-more:hover{
  color: #2be4ac !important;
}


/* .mainSliderMainImages{
  transform: translate3d(-3891px, 0px, 0px);
  transition-duration: 300ms;
  
} */


.swiper-slide-active .mainSliderThree{
  opacity: 1;
  transform: translateY(0px);
  transition: all 1000ms ease;
  transition-delay: 2000ms;
}

.slick-dots {
  bottom: -60px !important;
}
.slick-dots li button:before{
  font-size: 20px !important;
  color: #55AD88 !important;
}
.animated{
  opacity: 1 !important;
  /* animation-duration: 2s !important; */
}
.leftFooterImageBox .animated{
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}
.rightFooterImageBox .animated{
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}
.footerContentWrapper .animated{
  height: 100% !important;
  /* animation-duration: s !important; */
  animation-delay: 100ms !important;
}
.getKnowUsImageBox .animated{
  visibility: visible;
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}
.techServicesImageBox .animated{
  visibility: visible;
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}
.helpingLineImageWrapper .animated{
  visibility: visible;
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}


.animate__slideInRight{
  animation-duration: 10s;
} 


.discover-overlay{
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  background-color: #212529 !important;
  transition: all 500ms ease;
  z-index: 1;
}
.discover-web-dev-overlay{
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0px;
  background-color: #212529 !important;
  transition: all 500ms ease;
  z-index: 1;
}

.discover-button:hover .discover-overlay{
  height: 60px;
}
.discover-button:hover .discover-web-dev-overlay{
  height: 70px;
}

.typo{
  z-index: 2;
}

.icon-overlay{
  position: absolute;
  width: 50px;
  height: 0px;
  border-radius: 50%;
  top: 0px;
  background-color: white !important;
  transition: all 500ms ease;
  z-index: 1;
}

.icon-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black !important;
  color: #aea8b9 !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  overflow: hidden;
}

.icon-wrapper:hover .icon-overlay{
  height: 50px !important;
  
}

.icon-wrapper:hover{
  color: #55AD88 !important;
}
.counterContainer .animated{
  animation-delay: 200ms !important;
}

.counting{
  color:#2be4ac !important;
  font-weight: 400 !important;
  font-size: 40px !important;
}
.trustWrapper2 .animated{
  width: 100% !important;
  height: 100% !important;
}
.counterItem:hover{
  cursor: pointer;
}
.counterItem:hover .customFabIcon{
  background-color: #55AD88 !important;
}
.counterItem:hover .customIcons {
  color:white !important;
 
}
.counterItem:hover .customIcons{
  color:white !important;
  transform: scale(0.9) rotateY(360deg) !important;
}


.iconWrapper:hover .change-icon-color{
  color:white !important
}

.ourVisionImageBox .animated{
  visibility: visible !important;
  animation-duration: 2500ms !important;
  animation-delay: 100ms !important;
}
.quote1{
  transition: 3s;
  transform: rotate(180deg) !important;
  color: red !important;
}
.quote{
  /* font-size: 35px !important; */
  color: #55AD88 !important;
  
}


